header {
    padding: 150px 0px 50px 0px;
}

h1 {
    color: crimson;
    text-align: center;
}

h2 {
    color: crimson;
    text-align: center;
    margin-bottom: 50px;
}

.card {
    background-color: rgb(248, 248, 248);
    border: none;
}

.card-header {
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}

.lead {
    text-align: center;
}

.navbar {
    color: crimson;
    /* background-color: #004d00; */
    border-bottom: 1px solid darkgreen;
    /* background-color: crimson; */
}

.navbar-brand {
    color: crimson;
}

.navbar-brand:hover {
    color: crimson;
}

.list-group-item {
    border-color: darkgreen;
}